.container {
  padding: 1rem;
  border-radius: 8px;
   max-width: 900px;
  margin: 0 auto;
}

.container h2 {
  text-align: center;
  padding: 1rem;
}

.container p {
  line-height: 2rem;
  padding: 0.8rem;
  text-align: justify;
  font-size: 1.3rem;
}
