.container_cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #edecec;
  padding: 1rem;
  border-radius: 0.8rem;
  flex-wrap: wrap;
}

.image_wrapper {
  position: relative;
  width: 100%;
  height: 200px;
}
.imagem {
  object-fit: cover;
  border-bottom: 1px solid #edecec;
  padding: 20px;
}

.container_cards h3 {
  text-align: center;
  font-size: 1.5rem;
}

.container_cards p {
  text-align: justify;
  line-height: 1.6rem;
  font-size: 18px;
}
.container_card_textos {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.8rem;
  flex: 1;
}

.container_card_textos h3 {
  text-align: center;
  font-size: 1.5rem;
}

.container_card_textos p {
  text-align: justify;
  line-height: 1.6rem;
  font-size: 18px;
  flex-grow: 1;
  padding-bottom: 1rem;
}
.link {
  color: white;
  text-decoration: none;
  background: #00bcd4;
  text-align: center;
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 1rem;
  width: 100%;
  font-size: 1.3rem;
  margin-top: auto; /* empurra o link para o fim */
}

.link:hover {
  background: linear-gradient(90deg, #ff4081, #00bcd4);
}
