.header {
  color: #fff;
  width: 100%;
  height: 15vh;
  display: flex; /* garante alinhamento */
  align-items: center; /* centraliza verticalmente */
  background: linear-gradient(100deg, #00bcd4, #ff4081);
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header h1 {
  font-size: 2.5rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
}

.links_navegacao {
  display: flex;
  gap: 1rem;
}
.links_navegacao a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
.links_navegacao a:hover {
  background: linear-gradient(90deg, #ff4081, #00bcd4);
  color: white;
  font-weigth: bold;
  padding: 0.3rem;
  border-radius: 0.8rem;
  transition: width 0.4s ease-in-out;
}
.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (min-width: 372px) and (max-width: 1024px) {
  /* Esconde o título */
  .header h1 {
    display: none;
  }

  .header_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  /* Deixa os links de navegação em coluna */
  .links_navegacao {
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
  }

  /* Ajusta tamanho e espaçamento dos links */
  .links_navegacao a {
    font-size: 1.2rem;
    padding: 0.5rem;
  }

  .logo{ 
    display: none
  }
}
